* {
  margin: 0;
  padding: 0;
}

form {
  width: 530px;
  height: 38px;
  margin-left: 171px;
  margin-bottom: 46px;
  margin-top: 34px;
  background: #314b2a;
  border: 2px solid #314b2a;
  border-radius: 18px;
  display: flex;
}

input {
  width: 438px;
  height: 34px;
  background: #d9d9d9;
  border-style: hidden;
  border-radius: 18px;
  padding-left: 18px;
}

.search {
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  background: #314B2A;
  padding: 0;
}
