* {
  margin: 0;
  padding: 0;
}

form {
  width: 530px;
  height: 38px;
  margin-bottom: 46px;
  margin-top: 34px;
  background: #314b2a;
  border: 2px solid #314b2a;
  border-radius: 18px;
  display: flex;
}

input {
  width: 438px;
  height: 34px;
  background: #d9d9d9;
  border-style: hidden;
  border-radius: 18px;
  padding-left: 18px;
}

input:focus {
  outline: none;
}

.search {
  width: 67px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  margin-right: 8px;
  font-family: 'Oxygen', sans-serif;
  background: #314B2A;
}

.numbers {
  margin-bottom: 22px;
}

@media only screen and (max-width: 600px){
  form {
    width: 373px;
    position: absolute;
    margin-top: -84px;
    margin-left: 14.1rem;
  }

  .address {
    /* width: 400px; */
    margin-top: 220px;
    margin-left: 260px;
  }

  .address h2 {
    width: 230px;
  }

  .address h4 {
    width: 300px;
  }

  .map-wrapper {
    position: absolute;
    width: 340px;
    margin-left: 14rem;
  }

  .map-wrapper iframe {
    width: 376px;
    height: 233px;
  }
}