* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Oxygen', sans-serif;
  width: 172px;
  height: 80px;
  font-size: 40px;
  line-height: 51px;
}

p {
  font-family: 'Oxygen', sans-serif;
  width: 587px;
  height: 184px;
  font-size: 16px;
}

.about {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 93px;
}

.text {
  margin-right: 70px;
  text-align: justify;
  text-align-last: left;
}

.player-wrapper {
  margin-top: 25px;
}

@media only screen and (max-width: 600px){
	.text {
    position: absolute;
    width: 50%;
    text-align: justify;
    text-align-last: left;
    justify-content: center;
  }
}
