* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Oxygen', sans-serif;
  width: 172px;
  height: 80px;
  font-size: 40px;
  line-height: 51px;
}

p {
  font-family: 'Oxygen', sans-serif;
  width: 587px;
  height: 184px;
  font-size: 16px;
}

.about {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 93px;
}

.text {
  margin-right: 70px;
  text-align: justify;
  text-align-last: left;
}

.player-wrapper {
  margin-top: 25px;
}

@media only screen and (max-width: 600px) {
  .about {
    position: static;
  }

  .text h1 {
    font-size: 40px;
    margin-left: 70px;
  }

  .text p {
    width: 400px;
    margin-left: 69px;
    font-size: 22px;
  }

  .text-p2 {
    margin-top: 288px;
  }

  .text {
    left: 0;
    right: 0;
    text-align: justify;
    text-align-last: left;
  }

  .player-wrapper {
    position: absolute;
    left: auto;
    right: auto;
    margin-top: 900px;
  }

  .react-player {
    left: auto;
    right: auto;
    width: 150px;
  }
}