.countryMap {
    position: relative;
    
    padding-top: 530px;
    padding-left: 364px;
}

#dhaka {
    position: absolute;
    margin-top: -234px;
    margin-left: -136px;
}

#chittagong {
    margin: 0px;
    position: absolute;
    margin-top: -153px;
    margin-left: 25px;
}

#mymensingh {
    position: absolute;
    margin-top: -350px;
    margin-left: -92px;
}

#rajshahi {
    position: absolute;
    margin-top: -286px;
    margin-left: -295px;
}

#rangpur {
    position: absolute;
    margin-top: -540px;
    margin-left: -292px;
}

#khulna {
    position: absolute;
    margin-top: -135px;
    margin-left: -229px;
}

#sylhet {
    position: absolute;
    margin-top: -287px;
    margin-left: 66px;
}

#barishal {
    position: absolute;
    margin-top: 38px;
    margin-left: -63px;
}

#dhaka:hover { filter: invert(9%) brightness(90%) contrast(120%); }

#mymensingh:hover { filter: invert(7%) brightness(110%) contrast(125%); }

#rajshahi:hover { filter: invert(10%) brightness(118%) contrast(140%); }

#khulna:hover { filter: invert(11%) brightness(88%) contrast(130%); }

#sylhet:hover { filter: invert(11%) brightness(113%) contrast(125%); }

#rangpur:hover { filter: invert(9%)  brightness(133%) contrast(144%); }

#barishal:hover { filter: invert(10%) brightness(74%) contrast(100%); }

#chittagong:hover { filter: invert(10%) brightness(70%) contrast(105%); }

.divisionD img{ transition: 0.5s all ease-in-out; }

.divisionM img { transition: 0.5s all ease-in-out; }

.divisionR img { transition: 0.5s all ease-in-out; }

.divisionK img { transition: 0.5s all ease-in-out; }

.divisionS img { transition: 0.5s all ease-in-out; }

.divisionRp img { transition: 0.5s all ease-in-out; }

.divisionB img { transition: 0.5s all ease-in-out; }

.divisionC img { transition: 0.5s all ease-in-out; }

.divisionD li:hover {
    font-size: 18px;
    font-size-adjust: 20px;
}

.divisionR li:hover {
    font-size: 18px;
    font-size-adjust: 20px;
}

.divisionK li:hover {
    font-size: 18px;
    font-size-adjust: 20px;
}

.divisionS li:hover {
    font-size: 18px;
    font-size-adjust: 20px;
}

.divisionB li:hover {
    font-size: 18px;
    font-size-adjust: 20px;
}

.divisionC li:hover {
    font-size: 18px;
    font-size-adjust: 20px;
}

.divisionD li{
    color: white;
    cursor: pointer;
    position: absolute;
    font-weight: 600;
    transition: all 500ms;
    margin-top: -100px;
    margin-left: -46px;
}

.divisionR li{
    color: white;
    cursor: pointer;
    position: absolute;
    font-weight: 600;
    transition: all 500ms;
    margin-top: -206px;
    margin-left: -202px;
}

.divisionC li{
    color: white;
    cursor: pointer;
    position: absolute;
    font-weight: 600;
    transition: all 500ms;
    margin-top: 50px;
    margin-left: 180px;
}

.divisionB li{
    color: white;
    cursor: pointer;
    position: absolute;
    font-weight: 600;
    transition: all 500ms;
    margin-top: 120px;
    margin-left: -42px;
}

.divisionS li{
    color: white;
    cursor: pointer;
    position: absolute;
    font-weight: 600;
    transition: all 500ms;
    margin-top: -228px;
    margin-left: 130px;
}

.divisionK li{
    color: white;
    cursor: pointer;
    position: absolute;
    font-weight: 600;
    transition: all 500ms;
    margin-top: 25px;
    margin-left: -155px;
}

.divisionM2 li{
    color: white;
    cursor: pointer;
    position: absolute;
    font-weight: 600;
    margin-top: -264px;
}

.divisionRp2 li{
    color: white;
    cursor: pointer;
    position: absolute;
    font-weight: 600;
    margin-top: -380px;
    padding-left: 20px;
}

.divisionC img {
    width: 300px;
    height: 490px;
}

.divisionK img {
    width: 186px;
    height: 370px;
}

.divisionD img {
    width: 262px;
}

.divisionR img {
    width: 226px;
    height: 202px;
}

.divisionB img {
    width: 130px;
    height: 180px;
}

.divisionS img {
    width: 200px;
    height: 169px;
}

@media only screen and (max-width: 600px){
    .countryMap {
        position: absolute;
        margin-top: 360px;
        margin-left: -472px;
    }

    .divisionB img {
        width: 87px;
        height: 130px;
    }

    .divisionD img {
        width: 159px;
        height: 168px;
        transition: all 500ms;
    }

    .divisionD li:hover {
        color: white;
        font-size: 15px;
        font-size-adjust: 17px;
    }

    .divisionM img {
        width: 159px;
        height: 158px;
    }

    .divisionC img {
        width: 180px;
        height: 309px;
    }

    .divisionK img {
        width: 124px;
        height: 260px;
        transition: all 500ms;
    }

    .divisionK li:hover {
        color: white;
        font-size: 15px;
        font-size-adjust: 17px;
    }

    .divisionR img {
        width: 121px;
        height: 120px;
        transition: all 500ms;
    }

    .divisionR li:hover {
        color: white;
        font-size: 15px;
        font-size-adjust: 17px;
    }

    .divisionRp img {
        width: 124px;
        height: 156px;
    }

    .divisionS img {
        width: 120px;
        height: 120px;
        transition: all 500ms;
    }

    .divisionC li {
        color: white;
        font-weight: 400;
        font-size: 11.6px;
        transition: all 500ms;
        margin-top: 462.7px;
        margin-left: 48px;
    }

    .divisionC li:hover {
        color: white;
        font-size: 14px;
        font-size-adjust: 16px;
    }

    .divisionD li {
        color: white;
        font-weight: 400;
        font-size: 12.4px;
        margin-top: 370px;
        margin-left: -80px;
    }

    .divisionM2 li {
        color: white;
        margin-top: 274px;
    }

    .divisionR li {
        color: white;
        margin-top: 310px;
        margin-left: -185px;
        font-size: 12px;
        font-weight: 400;
    }

    .divisionB li {
        color: white;
        font-weight: 400;
        font-size: 12.4px;
        transition: all 500ms;
        margin-top: 500px;
        margin-left: -80px;
    }

    .divisionB li:hover {
        color: white;
        font-size: 14px;
        font-size-adjust: 16px;
    }

    .divisionRp2 li {
        color: white;
        font-size: 12px;
        font-weight: 400;
        margin-top: 202px;
    }

    .divisionK li {
        color: white;
        font-weight: 400;
        font-size: 12px;
        margin-top: 477px;
        margin-left: -136px;
    }

    .divisionS li {
        color: white;
        font-size: 12.2px;
        font-weight: 400;
        margin-top: 279px;
        margin-left: 28px;
    }

    .divisionS li:hover {
        color: white;
        font-size: 15px;
        font-size-adjust: 17px;
    }

    #dhaka {
        position: absolute;
        margin-top: 299px;
    } 

    #mymensingh {
        position: absolute;
        margin-top: 213px;
        margin-left: -118px;
    }

    #chittagong {
        position: absolute;
        margin-top: 342px;
        margin-left: -38px;
    }

    #khulna {
        position: absolute;
        margin-top: 358px;
        margin-left: -185px;
    }

    #rajshahi {
        position: absolute;
        margin-top: 265px;
        margin-left: -217px;
    }

    #rangpur {
        position: absolute;
        margin-top: 127px;
        margin-left: -220px;
    }

    #barishal {
        position: absolute;
        margin-top: 443px;
        margin-left: -94px;
    }

    #sylhet {
        position: absolute;
        margin-top: 246px;
        margin-left: -10.9px;
    }
}
