* {
  margin: 0%;
  padding: 0%;
  list-style: none;
  text-decoration: none;
}

.footer {
  height: 218px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #0b440b;
  /* background-color: #093309; */
}

.touch {
  min-width: 725px;
}

.touch h3{
  font-size: 24px;
  margin-bottom: 14px;
}

@media only screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 2460px;
  }

  .quickLinks{
    margin-left: 30px;
    padding-top: 20px;
  }

  .quickLinks h1{
    font-size: 19px;
  }

  .touch h1{
    font-size: 22.6px;
    
  }

  .touch .social {
    width: 340px;
    margin-left: -34.4px;
  }

  .touch .icons {
    width: 230px;
  }

  .touch .social .mail {
    margin-top: 10px;
    margin-left: -108.7px;
  }

  .touch .social .btalApp {
    width: 290px;
    margin-top: 10px;
    margin-left: -18.8px;
  }

  .touch .social .btalApp img{
    margin-left: -4px;
  }

  .regarding{
    margin-left: 30px;
    padding-bottom: 50px;
  }

  .regarding h1{
    max-width: 172px;
    font-size: 19px;
    padding-right: 273.3px;
  }

  .regarding-link li{
    margin-right: 0px;
  }

  .regarding .us {
    position: absolute;
    margin-top: -50px;
    margin-left: 59px;
  }

  address {
    color: silver;
  }
}

@media screen and (min-width: 1024px) {
  .touch h1{
    width: auto;
    padding-left: 172px;
  }

  .regarding {
    width: auto;
    padding-right: 1px;
  }

  .quickLinks {
    width: auto;
    padding-left: 525px;
  }
}