@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

h3 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  margin-top: 10px;
  left: 58px;
}

.swiper-slide {
  margin-top: 30px;
  margin-bottom: 108px;
  margin-left: 26px;
}

.swiper-slide img {
  width: 376px;
  height: 212px;
}

.swiper .swiper-button-prev {
  top: 41%;
  left: 20px;
  color: white;
}

.swiper .swiper-button-next {
  top: 41%;
  right: 15px;
  color: white;
}

.overlay-bottom-slide {
  position: absolute;
  height: 0;
  bottom: 0;
  margin-left: 59px;
  width: 376px;
  background-color: #838996;
  transition: 0.5s ease;
}

.swiper-slide:hover img {
  opacity: 0.9;
}

.swiper-slide:hover .overlay-bottom-slide {
  height: 100%;
  opacity: 0.9;
}

.info{          
  color: white;
  font-size: 16px;
  text-align: center;      
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
}
